@* Навигационное меню для сайта транспортной компании *@

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            🚚 <strong>CargoExpress</strong>
        </a>
        
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        🏠 Главная
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/services">
                        📦 Услуги
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/fleet">
                        🚛 Автопарк
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/prices">
                        💰 Цены
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/order">
                        📋 Оформить заказ
                    </NavLink>
                </li>
            </ul>
            
            <div class="nav-item px-3 d-none d-lg-block">
                <span class="text-light small">
                    📞 +7 (495) 123-45-67
                </span>
            </div>
        </div>
    </div>
</div>

@* Стили для активного пункта меню *@
@code {

}